{% extends 'modulo_compras/plantilla_listar.html' %}
{% load static %}
{% block title %}
    Compras | Cartera proveedor
{% endblock title %}
    
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 10%;">Proveedor</th>
        <th style="width: 20%;">Orden de compra</th>
        <th style="width: 10%;">Valor compra</th>
        <th style="width: 11%;">Fecha pago minimo</th>
        <th style="width: 15%;">Pago total</th>
        <th style="width: 15%;">Estado cartera</th>
        <th style="width: 10%;">Detalle</th>
    </tr>
    {% endblock columns %}
{% block window-js %}
    <script src="{% static 'js/compras/cartera_proveedores.js' %}"></script>
    {% endblock window-js %}

