{% extends 'modulo_compras/form.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Compras | Crear producto {% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block title-header %}
{% endblock title-header %}

    {% block menu-header %}
    <li class="breadcrumb-item">
        <a href="{{ list_url }}">
            Tabla de productos
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
    {% endblock menu-header %}

    {% block content-window %}
    <form id="formProduct" method="post"> 
        <div class="col-lg-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h2 class="card-title">
                        <i class="fas fa-plus"></i>
                        Crear producto
                    </h2>
                </div>
                <div class="card-body">
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Nombre:</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Código de barras:</label>
                                {{ form.bar_code }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Presentación:</label>
                                {{ form.pres }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Marca:</label>
                                {{ form.brand }}
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Categoría:</label>
                                <div class="input-group">
                                    {{ form.category }}
                                    <div class="input-group-append">
                                        <button class="btn btn-success btn-flat btnAddCat" type="button">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Subcategoría:</label>
                                <div class="input-group">
                                    {{ form.subcategory }}
                                    <div class="input-group-append">
                                        <button class="btn btn-success btn-flat btnAddSubcat" type="button">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>* Unidad de compra:</label>
                                <div class="input-group">
                                    {{ form.udc }}
                                    <div class="input-group-append">
                                        <button class="btn btn-success btn-flat btnAddUdc" type="button">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>* Cantidad por unidad:</label>
                                {{ form.quantity_udc }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>* Precio de compra:</label>
                                {{ form.price_udc }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Unidad de venta:</label>
                                <div class="input-group">
                                    {{ form.udv }}
                                    <div class="input-group-append">
                                        <button class="btn btn-success btn-flat btnAddUdv" type="button">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Cantidad por unidad:</label>
                                {{ form.quantity_udv }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Precio de venta:</label>
                                {{ form.price_udv }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Iva:</label>
                                {{ form.iva }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Otros impuestos:</label>
                                {{ form.other_tax }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Tiempo de recepción en días:</label>
                                {{ form.del_time }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>* Estado:</label>
                                {{ form.state }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-info"></i>
                                Seleccione la(s) opción (es) adicionales de información que desea ingresar del producto
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" class="dimProd" value="0" name="dimProd">
                                            Dimensiones de producto
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="stoSpec" value="0" name="stoSpec">
                                        Especificaciones de almacenamiento
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="collapse" id="dimensProd">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h2 class="card-title">
                                            <i class="fas fa-credit-card"></i>
                                            Dimensiones del producto
                                        </h2>
                                    </div>
                                    <div class="card-body">
                                        <h4 style="text-align: center;">Dimensiones de compra</h4>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Ancho de compra (cm):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="width_purch" placeholder="Ej. 10">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Alto de compra (cm):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="high_purch" placeholder="Ej. 9">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Largo de compra (cm):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="length_purch" placeholder="Ej. 8">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Peso de compra (Kg):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="weight_purch" placeholder="Ej. 6.5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Nº de filas de apilamiento:</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="apil_purch" placeholder="Ej. 5">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" class="oriPurch" value="0" name="ori_purch">
                                                        Orientación de compra
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <h4 style="text-align: center;">Dimensiones de venta</h4>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Ancho de venta (cm):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="width_sale" placeholder="Ej. 7">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Alto de venta (cm):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="high_sale" placeholder="Ej. 8">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Largo de venta (cm):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="length_sale" placeholder="Ej. 9">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Peso de venta (Kg):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="weight_sale" placeholder="Ej. 3.5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Nº de filas de apilamiento:</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="apil_sale" placeholder="Ej. 1">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" class="oriSale" value="0" name="ori_sale">
                                                        Orientación de venta
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="collapse" id="storageSpecif">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h2 class="card-title">
                                            <i class="fas fa-credit-card"></i>
                                            Especificaciones de almacenamiento
                                        </h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Contaminación cruzada:</label>
                                                    {{ frmCross.cross_contam }}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Restricción de temperatura (ºC):</label>
                                                    <input type="text" class="form-control" autocomplete="off" name="const_temp" placeholder="Ej. 22">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-outline-primary btn-block btn-block">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <a href="{% url 'compras:cat_prod' %}" class="btn btn-outline-danger btn-block" type="button">
                                <i class="fas fa-window-close"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>     
    <div class="modal fade" id="myModalCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <form id="frmCatProd" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">     
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Crear categoría de producto</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmProductCat.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Categoría
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="myModalSubcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <form id="frmSubcatProd" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">     
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Crear subcategoría de producto</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmProductSub.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Subcategoría
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="myModalUdc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <form id="frmUdcProd" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">     
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Crear unidad de medida en compra</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmUdcProd.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="myModalUdv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <form id="frmUdvProd" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">     
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Crear unidad de medida en venta</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmUdvProd.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
    {% block extrajs %}  
        <script src="{% static 'js/compras/crear_producto.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
        </script>
    {% endblock extrajs %}  