{% extends 'bia/modulo_compras.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Compras | Crear orden de compra {% endblock title %}
{% block title-header %}
{% endblock title-header %}
    {% block menu-header %}
    <li class="breadcrumb-item">
        <a href="{{ list_url }}">
            Ver ordenes de compra
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
            Ver instructivo
        </a>
    </li>
    {% endblock menu-header %}

    {% block content-window %}
    <form id="frmOrder" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-plus"></i>
                            Crear orden de compra
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Proveedor:</label>
                                        <div class="input-group">
                                            {{ form.identification }}
                                            <div class="input-group-append">
                                                <button 
                                                    class="btn btn-success btn-flat addSup" 
                                                    type="button">
                                                    <i class="fas fa-plus-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div hidden="true" class="row" id="supplierData">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Identificación Nº:</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="supId">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Celular Nº:</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="supCel">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Correo eléctronico:</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="supMail">
                                </div>
                            </div>
                        </div>
                        <div hidden="true" class="row" id="supplierDebt">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>
                                        Estado cartera:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="debtStatus" >
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>
                                        Cupo disponible:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="creditValue">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>
                                        Pago minimo:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="minPay">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>
                                        Pago total:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="totalPay">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <button 
                                        class="btn btn-outline-primary btn-block btnAddProd" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#addProds" 
                                        aria-expanded="false" 
                                        aria-controls="addProds">
                                        Agregar productos
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <button 
                                        class="btn btn-outline-primary btn-block btnCartera" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#solCartera" 
                                        aria-expanded="false" 
                                        aria-controls="solCartera" 
                                        disabled>
                                        Solicitar autorización cartera
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse" id="addProds">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-plus"></i>
                                Agregar productos
                            </h2>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="action" value="{{ action }}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Búscar producto:</label>
                                        <div class="input-group">
                                            <select 
                                                class="form-control select2" 
                                                style="width: 100%;" 
                                                id="searchProd">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Código:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            name="cod">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Nombre producto:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            name="nameProd">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Presentación:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            name="pres">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Unidad de compra:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            name="udv">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Precio de compra:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            name="uniPrice">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Iva:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            name="ivaProd">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Descuento producto:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            id="descProd">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Cantidad disponible:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true"
                                            id="quantityBalance">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Cantidad a comprar:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            id="quantityPurchase">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Subtotal:</label>
                                        {{ form.subtotal }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Iva:</label>
                                        {{ form.iva }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Descuento:</label>
                                        {{ form.discount }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Total:</label>
                                        {{ form.total }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>
                                            <input 
                                                type="checkbox" 
                                                class="cbDesc" 
                                                value="0">
                                                Descuento por compra
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="inpDesc" 
                                            disabled="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-primary btn-block btnAddP">
                                        <i class="fas fa-plus"></i> 
                                        Agregar producto
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-danger btn-block btnRemoveAll">
                                        <i class="fas fa-trash-alt"></i> 
                                        Eliminar productos
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-hover" id="tblProducts">
                                        <thead>
                                        <tr style="text-align: center;">
                                            <th style="width: 5%;">Código</th>
                                            <th style="width: 30%;">Producto</th>
                                            <th style="width: 10%;">Unidad de venta</th>
                                            <th style="width: 10%;">Precio unitario</th>
                                            <th style="width: 10%;">Cantidad</th>
                                            <th style="width: 10%;">Subtotal</th>
                                            <th style="width: 5%;">Iva</th>
                                            <th style="width: 10%;">Descuento</th>
                                            <th style="width: 10%;">Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <button 
                                        class="btn btn-outline-primary btn-block genOrder" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#resumeOrder" 
                                        aria-expanded="false" 
                                        aria-controls="resumeOrder">
                                        <i class="fas fa-plus"></i> 
                                        Generar orden
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse" id="resumeOrder">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-shopping-cart"></i> 
                                Resúmen de orden
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ciudad:</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            readonly="true" 
                                            id="supCity">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Dirección de entrega:</label>
                                        {{ form.delivery_address }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fecha de compra:</label>
                                        {{ form.order_date }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fecha de entrega:</label>
                                        {{ form.delivery_date }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Nivel de urgencia:</label>
                                        {{ form.urgency_level }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Metodo de pago:</label>
                                        {{ form.pay_method }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Observaciones:</label>
                                        {{ form.observations }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <button 
                                        class="btn btn-outline-primary btn-block btnSubmit" 
                                        type="submit">
                                        <i class="fas fa-plus"></i> 
                                        Guardar e imprimir orden
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock content-window %}

    {% block extrajs %}  
        <script src="{% static 'js/compras/crear_orden_compra.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
        </script>
        <div
            class="modal fade" 
            id="modalSupplier" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form 
                id="formSupplier" 
                enctype="multipart/form-data" 
                method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <b><i class="fas fa-user-plus"></i> Crear proveedor</b>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for field in frmSup.visible_fields %}
                                <div class="form-group">
                                    <label for="email">{{ field.label }}:</label>
                                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                <i class="fas fa-save"></i> Guardar proveedor
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}