{% extends 'modulo_compras/plantilla_listar.html' %}
{% load static %}
{% block title %}
    BIA | Productos
{% endblock title %}
    {% block menu %}
    
    {% endblock menu %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 10%;">Proveedor</th>
        <th style="width: 20%;">Orden Nº</th>
        <th style="width: 10%;">Fecha orden</th>
        <th style="width: 10%;">Valor orden</th>
        <th style="width: 15%;">Días de atraso</th>
    </tr>
    {% endblock columns %}

{% block window-js %}
    <script src="{% static 'js/compras/entregas_incumplidas.js' %}"></script>
    {% endblock window-js %}

