{% extends 'bia/modulo_compras.html' %}

{% load static %}

{% block title %}
    mod_com_historico_mov_compras
{% endblock title %}

{% block content2 %}
    
    <div class="container-fluid">
        <h1 class="mt-4">Historico de movimientos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ab vel placeat fugit, nemo repellendus doloremque eligendi mollitia molestias, cum iste saepe fugiat natus quae reprehenderit veniam? Quam, incidunt quae.</p>
    </div>

{% endblock content2 %}