{% extends 'modulo_compras/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Productos
{% endblock title %}
{% block menu %}
    <li class="breadcrumb-item">
        <a href="{{ list_url }}">
            <i class="fas fa-list-ul"></i> Listado evaluaciones
        </a>
    </li>
    {% endblock menu %}
    {% block buttons_list %}
    <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
        <i class="fas fa-plus"></i> Nuevo registro
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync"></i> Actualizar
    </a>
    <hr>
    {% endblock buttons_list %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 10%;">Proveedor</th>
        <th style="width: 20%;">Tipo de evaluación</th>
        <th style="width: 10%;">Comprador</th>
        <th style="width: 15%;">Puntaje general</th>
        <th style="width: 10%;">Ver detalle</th>
    </tr>
    {% endblock columns %}
{% block window-js %}
    <script src="{% static 'js/modulo_comercial/productos.js' %}"></script>
    <div class="modal fade" id="myModalDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-plus"></i> 
                        Detalle de producto</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-info"></i>
                                        Descripción
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Código:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="cod">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Nombre:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Categoría:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="category">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Subcategoría:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="subcategory">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Unidad de venta:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="udv">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Precio de venta:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="unit_price">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Marca:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="brand">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Unidades en inventario:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="saldo">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Ubicación:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="ubicación">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Estado:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="state">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-cash-register"></i>
                                        Impuestos
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Iva:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="iva">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Impuesto al consumo:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="impu">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Otro:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="impu2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-box-open"></i>
                                        Características físicas
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Peso U.V. (kg):</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Ancho U.V. (m):</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Alto U.V. (m):</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Largo U.V. (m):</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Orientación U.V.:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Apilamiento U.V.:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-warehouse"></i>
                                        Inventario
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Indicador de rotación:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Próximo ingreso:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Cantidad:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Descargar</button>
                  </div>
            </div>
        </div>
    </div>
{% endblock window-js %}

