{% extends 'modulo_compras/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Proveedores
{% endblock title %}
{% block menu %}
    
    {% endblock menu %}
    {% block buttons_list %}
    <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
        <i class="fas fa-plus"></i> Nuevo registro
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync"></i> Actualizar
    </a>
    <hr>
    {% endblock buttons_list %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 10%;">Tipo de persona</th>
        <th style="width: 20%;">Tipo de Identificación</th>
        <th style="width: 10%;">Id Número</th>
        <th style="width: 15%;">Email</th>
        <th style="width: 10%;">Nombre contacto</th>
        <th style="width: 10%;">Celular contacto</th>
        <th style="width: 10%;">Ciudad</th>
        <th style="width: 10%;">Dirección</th>
    </tr>
    {% endblock columns %}
{% block window-js %}
    <script src="{% static 'js/compras/proveedores.js' %}"></script>
    <div class="modal fade" id="myModalDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-plus"></i> 
                        Detalle de proveedor</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-info"></i>
                                        Perfil de proveedor
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tipo de persona:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="type_person">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tipo de id:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_type">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Número de id:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="id_number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="mail">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Nombre contacto:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="contact">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Celular contacto:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="cel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Nombre contacto 2:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="contact2">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Celular contacto 2:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="cel2">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Ciudad:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="city">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Dirección:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="dir">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Código postal:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="postal">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-cash-register"></i>
                                        Información adicional
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tipo de pago:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="pay">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Método de pago:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="met">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Cupo de crédito:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="cred">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Fecha última compra:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="ult_co">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Cantidad miníma de compra:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="min_co">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Valor minímo de compra:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="val_min">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Dias de entrega:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="dias">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Observaciones:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="obs">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Estado:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="sta">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Descargar</button>
                  </div>
            </div>
        </div>
    </div>
{% endblock window-js %}

