{% extends 'bia/modulo_compras.html' %}
{% load static %}
{% block title-header %}
{% endblock title-header %}
{% block extra_css %}
<!-- Fullcalendar -->
<link rel="stylesheet" href="{% static 'lib/fullcalendar-5.6.0/lib/main.css' %}">

{% endblock extra_css %}
{% block menu-header %}
    {% block menu %}
    {% endblock menu %}
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
{% endblock menu-header %}
{% block content-window %}
<form name="f1" id="f1">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h2 class="card-title">
                <i class="fas fa-plus"></i>
                Próximas entregas
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Número de entregas:</label>
                        <input type="text" class="form-control" name="f1t1" id="f1t1">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Tiempo estimado:</label>
                        <input type="text" class="form-control" name="f1t2" id="f1t2">
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="hidden" name="action" value="">
                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#startRoute" aria-expanded="false" aria-controls="startRoute">Iniciar entregas</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="startRoute">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Datos de entrega
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Proveedor:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Tipo de entrega:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Fecha de entrega:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>    
                                </div>    
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Hora inicio:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>    
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Hora fin:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>    
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#goCustomer" aria-expanded="false" aria-controls="goCustomer">Entregar</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#viewOrder" aria-expanded="false" aria-controls="viewOrder">Resúmen Entrega</button>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="viewOrder">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Resúmen de entrega
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Observaciones:</label>
                                        <input type="text" class="form-control" name="">
                                    </div>
                                </div>
                                <hr>    
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#finishDelivery" aria-expanded="false" aria-controls="finishDelivery">Completar entrega</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#enterNews" aria-expanded="false" aria-controls="enterNews">Ingresar novedad</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="enterNews">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Ingreso de novedad
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Tipo de novedad:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Observación:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="container">
        <div id="calendar"></div>
    </div>      
{% endblock content-window %}
{% block extrajs %}  
    <!-- Fullcalendar -->    
    <script src="{% static 'lib/fullcalendar-5.6.0/lib/main.js' %}"></script>
    <script src="{% static 'js/compras/proximas_entregas.js' %}"></script>
    <script>
        document.f1.f1t1.value = 20
        document.f1.f1t2.value = '8 horas'
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUI,{
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
            },
            events: [
                {% for i in object_list %}
                    {
                        title: "{{ i.customer.customer }}",
                        start: '{{ i.visit_date | date:"Y-m-d" }}',
                        end: '{{ i.visit_date | date:"Y-m-d" }}',
                    },
                {% endfor %}
            ]
        });
        calendar.render();
        calendar.setOption('locale','es');
    });
    </script>
{% endblock %}