{% extends 'bia/modulo_compras.html' %}
{% load static %}
{% block title-header %}
{% endblock title-header %}
{% block menu-header %}
    {% block menu %}
    {% endblock menu %}
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
{% endblock menu-header %}
{% block content-window %}
    <form method="post">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h2 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h2>
            </div>
            <div class="card-body">
                <input type="hidden" name="action" value="{{ action }}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    
                                    {% block document_title %}
                                    {% endblock document_title %}
                                
                                </h3>
                            </div>

                            {% block document_body %}
                            {% endblock document_body %}
                        
                        </div>
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% block search_title %}
                                    {% endblock search_title %}    
                                </h3>
                            </div>
                            <div class="card-body">
                                {% block search_body %}
                                {% endblock search_body %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">

                                    {% block transaction_title %}
                                    {% endblock transaction_title %}

                                </h3>
                            </div>
                            <div class="card-body">
                                {% block transaction_body %}
                                {% endblock transaction_body %}
                            </div>
                            <div class="card-footer">
                                {% block footer_transaction %}
                                {% endblock footer_transaction %}
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <!-- /.card -->
    </form>
</div>
{% endblock content-window %}