{% extends 'bia/modulo_logistica.html' %}
{% load static %}
{% block title-header %}
{% endblock title-header %}
{% block menu-header %}
    {% block menu %}
    {% endblock menu %}
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
{% endblock menu-header %}
{% block content-window %}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h2 class="card-title">
                <i class="fas fa-plus"></i>
                Conteo de inventario
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Tipo de inventario:</label>
                        <input type="text" class="form-control" name="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Bodega:</label>
                        <input type="text" class="form-control" name="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Conteo Nº:</label>
                        <input type="text" class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="hidden" name="action" value="">
                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#exportInventory" aria-expanded="false" aria-controls="exportInventory">Exportar inventario</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="hidden" name="action" value="">
                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#importCount" aria-expanded="false" aria-controls="importCount">Importar conteo</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="exportInventory">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Tabla de inventario
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <table id="dataReception" class="table table-hover">
                                        <thead>
                                            <tr style="text-align: center" class="table-active">
                                                <th style="width: 30%;">Código</th>
                                                <th style="width: 15%;">Nombre del producto</th>
                                                <th style="width: 15%;">Saldo de inventario</th>
                                                <th style="width: 15%;">Conteo Nº</th>
                                                <th style="width: 15%;">Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="importCount">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Importar conteo
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Fecha de conteo:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Conteo Nº:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Responsable:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#import" aria-expanded="false" aria-controls="import">Importar</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#countReport" aria-expanded="false" aria-controls="countReport">Generar informe</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#makeSettings" aria-expanded="false" aria-controls="makeSettings">Realizar ajustes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content-window %}