{% extends 'modulo_logistica/form.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} BIA | Crear vehiculo {% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block title-header %}
{% endblock title-header %}

    {% block menu-header %}    
    <li class="breadcrumb-item">
        <a href="{{ list_url }}">
            <i class="fas fa-list-ul"></i> Listado vehiculos
        </a>
    </li>
    {% endblock menu-header %}
    {% block content-window %}
    <form id="formVehicle" method="post"> 
        <div class="col-lg-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h2 class="card-title">
                        <i class="fas fa-plus"></i>
                        Crear vehiculo
                    </h2>
                </div>
                <div class="card-body">
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Nombre:</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Marca:</label>
                                {{ form.brand }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Tipo de vehiculo:</label>
                                {{ form.vehicle_type }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Tipo de carrocería:</label>
                                {{ form.body_work }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Kilometraje (km):</label>
                                {{ form.km }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Consumo por galón (km):</label>
                                {{ form.cons_fuel }}
                            </div>
                        </div>
                        
                    </div>            
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Capacidad de carga (Ton):</label>
                                {{ form.load_capacity }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Ancho carrocería (m):</label>
                                {{ form.width }}
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Alto carrocería (m)</label>
                                {{ form.high }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Largo carrocería (m):</label>
                                {{ form.length }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Estado:</label>
                                {{ form.state }}
                            </div>
                        </div>
                    </div>          
                </div> 
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-outline-primary btn-block btn-block">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <a href="{% url 'logistica:catalogo_vehiculos' %}" class="btn btn-outline-danger btn-block" type="button">
                                <i class="fas fa-window-close"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </div>         
            </div>          
        </div> 
    </form>         
    {% endblock content-window %}
    {% block extrajs %}
        <script src="{% static 'js/logistica/crear_vehiculo.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
        </script>
    {% endblock extrajs %}  