{% extends 'modulo_logistica/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Inventario
{% endblock title %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 10%;">Producto</th>
        <th style="width: 20%;">Saldo anterior</th>
        <th style="width: 10%;">Entrada</th>
        <th style="width: 15%;">Salida</th>
        <th style="width: 10%;">Saldo inventario</th>
        <th style="width: 10%;">Conteo inventario</th>
        <th style="width: 10%;">Diferencia</th>
        <th style="width: 10%;">saldo Final</th>
        <th style="width: 10%;">Indicador de rotación</th>
    </tr>
    {% endblock columns %}

{% block window-js %}
    <script src="{% static 'js/logistica/inventario.js' %}"></script>
    {% endblock window-js %}

