{% extends 'modulo_logistica/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Bodegas
{% endblock title %}
    {% block buttons_list %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
            <i class="fas fa-plus"></i> Nuevo registro
        </a>
        <a href="{{ list_url }}" class="btn btn-success btn-flat">
            <i class="fas fa-sync"></i> Actualizar
        </a>
        <hr>
    {% endblock buttons_list %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 5%;">Nombre</th>
        <th style="width: 20%;">Ciudad</th>
        <th style="width: 15%;">Dirección</th>
        <th style="width: 10%;">Código postal</th>
        <th style="width: 10%;">Opciones</th>
    </tr>        
    {% endblock columns %}
            
{% block window-js %}
    <script src="{% static 'js/logistica/listar_bodegas.js' %}"></script>
{% endblock window-js %}