{% extends 'bia/modulo_configuracion.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Promociones | Añadir promoción {% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block title-header %}
{% endblock title-header %}

    {% block menu-header %}
        <li class="breadcrumb-item">
            <a href="{{ list_url }}">
                <h5 style="color:rgb(12, 12, 15);">
                    Listado promociones
                </h5> 
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">
                <i class="fas fa-question"></i>
            </a>
        </li>
    {% endblock menu-header %}
    
    {% block content-window %}
    <form id="frmProm" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-plus"></i>
                            Creación de promociones
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">  
                                    <label>Cantidad:</label>
                                    {{ form.quantity }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Periodo de vigencia:</label>
                                    {{ form.expiration_date }}        
                                </div>
                            </div>    
                        </div>    
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    {{ form.desc }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">  
                                    <label>Consideraciones:</label>
                                    {{ form.cons }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">  
                                    <label>Observaciones:</label>
                                    {{ form.obs }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#addProds" aria-expanded="false" aria-controls="addProds">Agregar productos</button>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#calcProm" aria-expanded="false" aria-controls="calcProm">Calcular promociones</button>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-block btnAdd" type="submit">Generar promoción</button>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="collapse" id="addProds">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-plus"></i>
                            Agregar productos
                        </h2>
                    </div>
                    <div class="card-body">
                        <input type="hidden" name="action" value="{{ action }}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Búscar producto:</label>
                                    <div class="input-group">
                                        <select class="form-control select2" style="width: 100%;" name="search">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Código:</label>
                                    <input type="text" class="form-control" autocomplete="off" readonly="true" name="cod">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nombre producto:</label>
                                    <input type="text" class="form-control" autocomplete="off" readonly="true" name="nameProd">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Presentación:</label>
                                    <input type="text" class="form-control" autocomplete="off" readonly="true" name="pres">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Unidad de venta:</label>
                                    <input type="text" class="form-control" autocomplete="off" readonly="true" name="udv">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Precio unitario:</label>
                                    <input type="text" class="form-control" autocomplete="off" readonly="true" name="uniPrice">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Cantidad disponible:</label>
                                    <input type="text" class="form-control" autocomplete="off" readonly="true" name="cantDisp">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Cantidad:</label>
                                    <input type="text" class="form-control" autocomplete="off" name="cant">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Descuento:</label>
                                    <input type="text" class="form-control" autocomplete="off" name="descProm">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-outline-primary btn-block btnAddProd">
                                    <i class="fas fa-plus"></i> Agregar
                                </button>
                            </div>
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-outline-danger btn-block btnRemoveAll">
                                    <i class="fas fa-trash-alt"></i> Eliminar productos
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered table-hover" id="tblProducts">
                                    <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Unidad de venta</th>
                                        <th>Cantidad</th>
                                        <th>Precio unitario</th>
                                        <th>Precio descuento</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content-window %}
    {% block extrajs %}
        <script src="{% static 'js/planeacion/promociones.js' %}"></script>
    {% endblock extrajs %}