{% extends 'modulo_configuracion/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Parametrización
{% endblock title %}
    {% block buttons_list %}
    <a href="" type="button" class="btn btn-primary btn-flat cityRun">
        <input type="hidden" name="action" value="{{ action }}">
        <i class="fas fa-plus"></i> Pronóstico ciudad
    </a>
    <hr>
    {% endblock buttons_list %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 10%;">Mes</th>
        <th style="width: 15%;">Semana</th>
        <th style="width: 15%;">Nombre</th>
        <th style="width: 15%;">Proyección</th>
    </tr>        
    {% endblock columns %}
            
{% block window-js %}
    <script src="{% static 'js/planeacion/listar_pronostico.js' %}"></script>
{% endblock window-js %}
