{% extends 'bia/modulo_configuracion.html' %}

{% load static %}
{% block title-header %}
{% endblock title-header %}

{% block content-window %}

<div class="accordion" id="accordionOne">
    <div class="card card-primary card-outline">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button 
                    class="btn btn-block text-left" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseOne" 
                    aria-expanded="true" 
                    aria-controls="collapseOne">
                    <i class="fas fa-angle-right"></i>
                    Plantilla para cargar ajustes de inventario
                </button>
            </h2>
        </div>
        <div 
            id="collapseOne"
            class="collapse" 
            aria-labelledby="headingOne" 
            data-parent="#accordionOne">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="list-group">
                            <a href="{% url 'configuracion:plantilla_ajustes_inventario' %}" 
                                type="button"
                                id="downloadTemplate"  
                                class="list-group-item list-group-item-action" 
                                aria-current="true">
                                <i class="fas fa-cloud-download-alt"></i>
                                Descargar plantilla
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionTwo">
    <div class="card card-primary card-outline">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button 
                    class="btn btn-block text-left" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#collapseTwo" 
                    aria-expanded="true" 
                    aria-controls="collapseTwo">
                    <i class="fas fa-angle-right"></i>
                    Carga masiva de ajustes de inventario
                </button>
            </h2>
        </div>
        <div 
            id="collapseTwo"
            class="collapse" 
            aria-labelledby="headingTwo" 
            data-parent="#accordionTwo">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="." enctype="multipart/form-data" id="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card card-primary card-outline">
                                        <div class="card-header">
                                            <h2 class="card-title">
                                                <i class="fas fa-upload"></i>
                                                Importar archivo
                                            </h2>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <hr>
                                                    <div class="form-group">
                                                        <input type="file" name="file" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    {% csrf_token %}
                                                    <button 
                                                        id="upload"
                                                        type="submit" 
                                                        class="btn btn-outline-primary btn-block btn-block">                                    
                                                        <i class="fas fa-upload"></i> Cargar
                                                    </button>
                                                </div>
                                                <div 
                                                    class="col-lg-6 justify-content-center" 
                                                    id="spinnerBox" 
                                                    hidden="true">
                                                    <div 
                                                        class="spinner-border text-primary" 
                                                        style="width: 2rem; height: 2rem;" 
                                                        role="status">
                                                    </div>
                                                    <div 
                                                        class="spinner-grow text-primary" 
                                                        style="width: 2rem; height: 2rem;" 
                                                        role="status">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content-window %}
{% block js %}
<script src="{% static 'js/parametrizacion/importar_ajustes_inventario.js' %}"></script>
{% endblock js %}