{% extends 'modulo_configuracion/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Bodegas
{% endblock title %}
    
    {% block menu %}
    <li class="breadcrumb-item">
        <a href="{{ create_url }}">
            Crear bodega
        </a>
    </li>
    {% endblock menu %}
    {% block input-search %}
    <div class="form-group">
        <label>Buscar bodega:</label>
        <input 
            type="text" 
            class="form-control" 
            autocomplete="off" 
            id="buscar_bodega">
    </div> 
    {% endblock input-search %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 15%;">Código</th>
        <th style="width: 25%;">Bodega</th>
        <th style="width: 25%;">Ciudad</th>
        <th style="width: 20%;">Estado</th>
        <th style="width: 15%;">Opciones</th>
    </tr>        
    {% endblock columns %}
    {% block export-catalogue %}
    <div class="row">
        <div class="col-lg-4">
            <a
                href="{% url 'configuracion:exportar_catalogo_bodegas' %}"
                type="button"
                id="exportCat"  
                class="list-group-item list-group-item-action" 
                aria-current="true">
                <i class="fas fa-cloud-download-alt"></i>
                Descargar catálogo de bodegas
            </a>
        </div>
    </div>
    {% endblock export-catalogue %}
{% block window-js %}
    <script src="{% static 'js/parametrizacion/listar_bodegas.js' %}"></script>
    <div 
        class="modal fade" 
        id="myModalDet" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-plus"></i> 
                        Detalle de bodega</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-secondary">
                                <div class="card-body">
                                    <div class="row">
                                        <img 
                                            src="" 
                                            class="brand-image elevation-3"
                                            style="opacity: .8"
                                            width="100" 
                                            height="100"
                                            id="qrCode">
                                        </img>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Nombre bodega:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptNombreBodega">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Departamento:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptDepartamentoBodega">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Ciudad:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptCiudadBodega">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Dirección:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptDireccionBodega">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Responsable:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptResponsableBodega">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock window-js %}