{% extends 'modulo_configuracion/plantilla_listar.html' %}
{% load static %}
{% block title %}
    BIA | Tiempos de entrega
{% endblock title %}
    
    {% block menu %}
    <li class="breadcrumb-item">
        <a href="{{ create_url }}">
            Crear tiempo de entrega
        </a>
    </li>
    {% endblock menu %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 10%;">Código</th>
        <th style="width: 10%;">Ciudad</th>
        <th style="width: 10%;">Zona</th>
        <th style="width: 10%;">Bodega</th>
        <th style="width: 10%;">Tiempo de alistamiento</th>
        <th style="width: 10%;">Tiempo de recorrido</th>
        <th style="width: 10%;">Tiempo de descarga</th>
        <th style="width: 10%;">Tiempo total estimado</th>
        <th style="width: 10%;">Estado</th>
        <th style="width: 10%;">Opciones</th>
    </tr>        
    {% endblock columns %}
{% block window-js %}
    <script src="{% static 'js/parametrizacion/ver_tiempos_entrega.js' %}"></script>
{% endblock window-js %}