{% extends 'bia/planeacion.html' %}
{% load static %}
{% block title-header %}
{% endblock title-header %}
{% block menu-header %}
    {% block menu %}
    {% endblock menu %}
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
{% endblock menu-header %}
{% block content-window %}
    <form method="post">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h2 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h2>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionIndicadoresGenerales">
                    <div class="card card-primary card-outline">
                        <div class="card-header" id="headingVentasCategoria">
                            <h2 class="mb-0">
                                <button 
                                    class="btn btn-block text-left collapsed" 
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#cllVentaGeneral"
                                    aria-expanded="false"
                                    aria-controls="cllVentaGeneral">
                                    <i class="fas fa-angle-right"></i>
                                    Indicadores de venta generales
                                </button>
                            </h2>
                        </div>
                        <div id="cllVentaGeneral" class="collapse" aria-labelledby="headingVentasCategoria" data-parent="#accordionIndicadoresGenerales">
                            <div class="card-body">
                                <div class="accordion" id="accordionFour">
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnVentaTotal">
                                            <div class="mb-0">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <button 
                                                            class="btn collapsed"
                                                            type="button" 
                                                            data-toggle="collapse" 
                                                            data-target="#cllMetaVenta" 
                                                            aria-expanded="false" 
                                                            aria-controls="cllMetaVenta">
                                                            <i class="fas fa-angle-right"></i>
                                                            Indicador de venta total
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="cllMetaVenta" class="collapse" aria-labelledby="hdnVentaTotal" data-parent="#accordionFour">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Meta de venta total:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPrice" 
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptVentaTotal">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfVentaMensual"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnVentasNuevas">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllVentasNuevas" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllVentasNuevas">
                                                    <i class="fas fa-angle-right"></i>
                                                    Indicador de ventas nuevas
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllVentasNuevas" class="collapse" aria-labelledby="hdnVentasNuevas" data-parent="#accordionFour">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Meta de ventas nuevas:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPrice" 
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptVentasNuevas">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfVentasNuevas"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnProfundizacionClientes">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllProfundizacionClientes" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllProfundizacionClientes">
                                                    <i class="fas fa-angle-right"></i>
                                                    Indicador de profundización de clientes
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllProfundizacionClientes" class="collapse" aria-labelledby="hdnProfundizacionClientes" data-parent="#accordionFour">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Meta de profundización de clientes:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPrice" 
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptProfundizacionClientes">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfProfundizacionClientes"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnClientesNuevos">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllClientesNuevos" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllClientesNuevos">
                                                    <i class="fas fa-angle-right"></i>
                                                    Indicador de clientes nuevos
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllClientesNuevos" class="collapse" aria-labelledby="hdnClientesNuevos" data-parent="#accordionFour">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Meta de clientes nuevos:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchNumber" 
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptClientesNuevos">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfClientesNuevos"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnMargenVenta">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllMargenVenta" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllMargenVenta">
                                                    <i class="fas fa-angle-right"></i>
                                                    Indicador de margén de venta
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllMargenVenta" class="collapse" aria-labelledby="hdnMargenVenta" data-parent="#accordionFour">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Meta de margén de venta:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfMargenVenta"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card card-primary card-outline">
                        <div class="card-header" id="headingVentasCategoria">   
                            <h2 class="mb-0">
                                <button 
                                    class="btn btn-block text-left collapsed" 
                                    type="button" 
                                    data-toggle="collapse" 
                                    data-target="#cllVentasCategorias" 
                                    aria-expanded="false" 
                                    aria-controls="cllVentasCategorias">
                                    <i class="fas fa-angle-right"></i>
                                    Indicadores de venta detallados
                                </button>
                            </h2>
                        </div>
                        <div id="cllVentasCategorias" class="collapse" aria-labelledby="headingVentasCategoria" data-parent="#accordionIndicadoresGenerales">
                            <div class="card-body">
                                <div class="accordion" id="accordionThree">
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnCiudad">
                                            <div class="mb-0">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <button 
                                                            class="btn collapsed"
                                                            type="button" 
                                                            data-toggle="collapse" 
                                                            data-target="#cllCiudad" 
                                                            aria-expanded="false" 
                                                            aria-controls="cllCiudad"
                                                            id="btnCollapseCiudad">
                                                            <i class="fas fa-angle-right"></i>
                                                            Ciudad
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="cllCiudad" class="collapse" aria-labelledby="hdnCiudad" data-parent="#accordionThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Ciudad:</label>
                                                            <select 
                                                                id="slcCiudad"
                                                                class="form-control select2">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Indicador:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="Total_Sales_Objetive">Venta total</option>
                                                                <option value="Customer_Retention_Rate">Ventas nuevas</option>
                                                                <option value="Sales_Deepening">Profundización de clientes</option>
                                                                <option value="New_Customers">Clientes nuevos</option>
                                                                <option value="Margin">Margén de ventas</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" id="rowMetaGeneral">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta general indicador:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMetaGeneral">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta acumulada ciudad:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMetaAcumulada">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta restante ciudad:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMetaRestante">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfIndicadorCiudad"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <button 
                                                                type="button"
                                                                id="btnAgregarIndicadorCiudad"
                                                                class="btn btn-block btn-outline-primary">
                                                                Agregar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <table 
                                                            class="table table-bordered table-hover" 
                                                            id="tblIndicadorCiudad">
                                                            <thead>
                                                                <tr style="text-align: center;">
                                                                    <th style="width: 30%;">Indicador</th>
                                                                    <th style="width: 40%;">Ciudad</th>
                                                                    <th style="width: 30%;">Meta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnZona">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllZona" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllZona">
                                                    <i class="fas fa-angle-right"></i>
                                                    Zona
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllZona" class="collapse" aria-labelledby="hdnZona" data-parent="#accordionThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Zona:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="value1">Norte</option>
                                                                <option value="value2">Sur</option>
                                                                <option value="value3">Oriente</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Indicador:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="value1">Venta total</option>
                                                                <option value="value2">Profundización de venta</option>
                                                                <option value="value3">Clientes nuevos</option>
                                                                <option value="value3">Tasa de retención de clientes</option>
                                                                <option value="value3">Margén de ventas</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta general:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta acumulada:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta por completar:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfCiudad"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-block btn-outline-primary">Agregar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <table class="table table-bordered table-hover" id="subcatTable">
                                                            <thead>
                                                                <tr style="text-align: center;">
                                                                    <th style="width: 30%;">Indicador</th>
                                                                    <th style="width: 40%;">Zona</th>
                                                                    <th style="width: 30%;">Meta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnCategoriaCliente">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllCategoriaCliente" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllCategoriaCliente">
                                                    <i class="fas fa-angle-right"></i>
                                                    Categoría clientes
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllCategoriaCliente" class="collapse" aria-labelledby="hdnCategoriaCliente" data-parent="#accordionThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Categoría cliente:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="value1">Norte</option>
                                                                <option value="value2">Sur</option>
                                                                <option value="value3">Oriente</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Indicador:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="value1">Venta total</option>
                                                                <option value="value2">Profundización de venta</option>
                                                                <option value="value3">Clientes nuevos</option>
                                                                <option value="value3">Tasa de retención de clientes</option>
                                                                <option value="value3">Margén de ventas</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta general:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta acumulada:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta por completar:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfCiudad"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-block btn-outline-primary">Agregar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <table class="table table-bordered table-hover" id="subcatTable">
                                                            <thead>
                                                                <tr style="text-align: center;">
                                                                    <th style="width: 30%;">Indicador</th>
                                                                    <th style="width: 40%;">Categoría cliente</th>
                                                                    <th style="width: 30%;">Meta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-primary card-outline">
                                        <div class="card-header" id="hdnAsesor">
                                            <h5 class="mb-0">
                                                <button 
                                                    class="btn collapsed" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    data-target="#cllAsesor" 
                                                    aria-expanded="false" 
                                                    aria-controls="cllAsesor">
                                                    <i class="fas fa-angle-right"></i>
                                                    Asesor
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="cllAsesor" class="collapse" aria-labelledby="hdnAsesor" data-parent="#accordionThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Asesor:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="value1">Norte</option>
                                                                <option value="value2">Sur</option>
                                                                <option value="value3">Oriente</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Indicador:</label>
                                                            <select name="select" class="form-control">
                                                                <option value="value1">-------------</option>
                                                                <option value="value1">Venta total</option>
                                                                <option value="value2">Profundización de venta</option>
                                                                <option value="value3">Clientes nuevos</option>
                                                                <option value="value3">Tasa de retención de clientes</option>
                                                                <option value="value3">Margén de ventas</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta general:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta acumulada:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Meta por completar:</label>
                                                            <input 
                                                                type="number" 
                                                                class="form-control touchPerc"
                                                                autocomplete="off" 
                                                                placeholder="Registre su objetivo"
                                                                id="iptMargenVenta">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <figure class="highcharts-figure">
                                                            <div id="grfCiudad"></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-block btn-outline-primary">Agregar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <table class="table table-bordered table-hover" id="subcatTable">
                                                            <thead>
                                                                <tr style="text-align: center;">
                                                                    <th style="width: 30%;">Indicador</th>
                                                                    <th style="width: 40%;">Ciudad</th>
                                                                    <th style="width: 30%;">Meta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-block btn-outline-primary">Guardar Planeación</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content-window %}
{% block extrajs %}  
    <script src="{% static 'js/planeacion/planeacion_comercial_establecer_indicadores.js' %}"></script>
{% endblock %}