{% extends 'modulo_comercial/form.html' %}
{% load static %}
{% block title %}
    BIA | Agenda llamadas
{% endblock title %}
    {% block menu %}
    <li class="breadcrumb-item">
        <a href="{{ list_url }}">
            <i class="fas fa-list-ul"></i> Listado llamadas
        </a>
    </li>
    {% endblock menu %}
    {% block form %}
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label>Cliente:</label>
                    {{ form.customer }}
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label>Fecha de llamada:</label>
                    {{ form.visit_date }}
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label>Hora inicio:</label>
                    {{ form.start_time }}
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label>hora fin:</label>
                    {{ form.end_time }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label>Duración:</label>
                    {{ form.visit_time }}
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label>Estado:</label>
                    {{ form.state }}
                </div>
            </div>
        </div>
        <div class="ro">
            <div class="col-lg">
                <div class="form-group">
                    <label>Observaciones:</label>
                    {{ form.observations }}
                </div>
            </div>
        </div>
    {% endblock form %}
    {% block extrajs %}  
        <script src="{% static 'js/modulo_comercial/llamada.js' %}"></script>
    {% endblock extrajs %}  