{% extends 'modulo_comercial/list_view.html' %}
{% load static %}
{% block title %}
    BIA | Cartera cliente
{% endblock title %}
{% block options_head %}

{% endblock options_head %}
    {% block columns %}
    <tr style="text-align: center" class="table-active">
        <th style="width: 5%;">Nº</th>
        <th style="width: 15%;">Cliente</th>
        <th style="width: 12%;">Cupo disponible</th>
        <th style="width: 12%;">Pago minimo</th>
        <th style="width: 11%;">Fecha pago minimo</th>
        <th style="width: 15%;">Pago total</th>
        <th style="width: 15%;">Estado cartera</th>
        <th style="width: 10%;">Detalle</th>
    </tr>        
    {% endblock columns %}
            
{% block window-js %}
    <script src="{% static 'js/modulo_comercial/cartera_clientes.js' %}"></script>
    <div class="modal fade" id="myModalDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-plus"></i> 
                        Detalle de cartera</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-info"></i>
                                        Descripción
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Orden Nª:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="ord">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Valor orden:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="value">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Fecha de venta:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Subtotal:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="subt">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Iva:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="iva">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Descuento:</label>
                                                <input type="text" class="form-control" autocomplete="off" readonly="true" name="desc">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock window-js %}