{% extends 'bia/modulo_comercial.html' %}

{% load static %}
{% block title-header %}
{% endblock title-header %}

{% block content-window %}
    <div class="container py-5">
        <h2 class="text-center">Catálogo de clientes</h2>
        <br>
        <div class="row py-5">
            <div class="col text-center center-block">
                <a href="{% url 'comercial:crear_cliente' %}" class="text-secondary">
                    <span style="color: rgb(1, 52, 105);">
                        <i class="fas fa-user-plus fa-5x"></i>
                    </span>
                    <hr>
                    <h4>Crear cliente</h4>
                    <hr>
                </a>
            </div>
            <div class="col text-center">
                <a href="{% url 'comercial:listar_clientes' %}" class="text-secondary">
                    <span style="color: rgb(1, 52, 105);">
                        <i class="fas fa-clipboard-list fa-5x"></i>
                    </span>
                    <hr>
                    <h4>Listado de clientes</h4>
                    <hr>
                </a>
            </div>
            <div class="col text-center center-block">
                <a href="" class="text-secondary">
                    <span style="color: rgb(1, 52, 105);">
                        <i class="fas fa-file-upload fa-5x"></i>
                    </span>
                    <hr>
                    <h4>Cargar archivo</h4>
                    <hr>
                </a>
            </div>
        </div>
    </div>    
{% endblock content-window %}