{% extends 'bia/modulo_comercial.html' %}
{% load static %}
{% block title-header %}
{% endblock title-header %}
{% block menu-header %}
    {% block menu %}
    {% endblock menu %}
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
{% endblock menu-header %}
{% block content-window %}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h2 class="card-title">
                <i class="fas fa-plus"></i>
                Indicadores de gestión comercial
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>87 %</h3>
                            <p>Meta de ventas</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>91 %</h3>
                            <p>Margén ventas</p>
                        </div>
                        <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>60 %</h3>
                            <p>Clientes nuevos</p>
                        </div>
                        <div class="icon">
                        <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>80 %</h3>
                            <p>Cumplimiento de actividades</p>
                        </div>
                        <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Cumplimiento en ventas
                            </h3>
                        </div>
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="salesChart"></div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Margen ventas
                            </h3>
                        </div>
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="margenSales"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Clientes nuevos
                            </h3>
                        </div>
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="newClient"></div>
                            </figure>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Clientes perdidos
                            </h3>
                        </div>
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="lostClient"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Cumplimiento de actividades
                            </h3>
                        </div>
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="fullActivities"></div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Ratio de conversión
                            </h3>
                        </div>
                        <div class="card-body">
                            <figure class="highcharts-figure">
                                <div id="convRate"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content-window %}
{% block extrajs %}
    <script src="{% static 'js/modulo_comercial/indicadores.js' %}"></script>
{% endblock extrajs %}
