{% extends 'bia/modulo_comercial.html' %}
{% load static %}

{% block title-header %}
{% endblock title-header %}

{% load widget_tweaks %}

    {% block content-window %}    
    <form id="frmDocumento" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-plus"></i>
                            {% block document-title %}
                            {% endblock document-title %}
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>Cliente:</label>
                                    <div class="input-group">
                                        {% block identification %}
                                        {% endblock identification %}
                                        <div class="input-group-append">
                                            <button 
                                                class="btn btn-success btn-flat addCust" 
                                                type="button">
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div hidden="true" class="row" id="rowInformacionCliente">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Identificación Nº:</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        name="iptIdentificacionCliente">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Celular Nº:</label>
                                    <input
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        name="iptCelularCliente">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Correo eléctronico:</label>
                                    <input
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        name="iptCorreoCliente">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Categoría cliente:</label>
                                    <input
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        name="iptCategoriaCliente">
                                </div>
                            </div>
                        </div>
                        {% block carteraCliente %}
                        <div hidden="true" class="row" id="rowCarteraCliente">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label 
                                        id="stateLabel">
                                        Estado cartera:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="iptEstadoCartera">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label 
                                        id="creditLabel">
                                        Cupo disponible:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="iptCupoDisponible">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label
                                        id="minLabel">
                                        Pago minimo:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="iptPagoMinimo">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label
                                        id="totalLabel">
                                        Pago total:
                                    </label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        readonly="true" 
                                        id="iptPagoTotal">
                                </div>
                            </div>
                        </div>
                        {% endblock carteraCliente %}
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button 
                                        class="btn btn-outline-primary btn-block btnAddProd" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#addProds" 
                                        aria-expanded="false" 
                                        aria-controls="addProds">
                                        Agregar productos
                                    </button>
                                </div>
                            </div>
                            {% block btn-cartera %}
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button 
                                        class="btn btn-outline-primary btn-block btnCartera" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#solCartera" 
                                        aria-expanded="false" 
                                        aria-controls="solCartera" 
                                        disabled>
                                        Solicitar autorización cartera
                                    </button>
                                </div>
                            </div>    
                            {% endblock btn-cartera %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block agregar_productos %}
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse" id="addProds">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-plus"></i>
                                Agregar productos
                            </h2>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="action" value="{{ action }}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Búscar producto:</label>
                                        <div class="input-group">
                                            <select 
                                                class="form-control select2" 
                                                style="width: 100%;" 
                                                name="slcBuscarProducto">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% block informacionProducto %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Código:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptCodigoProducto">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Nombre producto:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptNombreProducto">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Presentación:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptPresentacionProducto">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Unidad de venta:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptUnidadVentaProducto">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Precio unitario:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptPrecioUnitario">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Iva:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptIvaProducto">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Descuento producto:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptDescuentoProducto">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Cantidad disponible:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    readonly="true" 
                                                    name="iptCantidadDisponible">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Cantidad solicitada:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    autocomplete="off" 
                                                    name="iptCantidadSolicitada">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Subtotal:</label>  
                                        {{ form.subtotal }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Iva:</label>
                                        {{ form.iva }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Descuento:</label>
                                        {{ form.discount }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Total:</label>
                                        {{ form.total }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>
                                            <input 
                                                type="checkbox" 
                                                class="cbDesc" 
                                                value="0">
                                                Descuento por compra
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="inpDesc" 
                                            disabled="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-primary btn-block btnAddP">
                                        <i class="fas fa-plus"></i> 
                                        Agregar producto
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-danger btn-block btnRemoveAll">
                                        <i class="fas fa-trash-alt"></i> 
                                        Eliminar productos
                                    </button>
                                </div>
                            </div>
                            <hr>
                        {% endblock informacionProducto %}
                            
                        {% block tablaProducto %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-hover" id="tblProducts">
                                        <thead>
                                        <tr style="text-align: center;">
                                            <th style="width: 5%;">Código</th>
                                            <th style="width: 30%;">Producto</th>
                                            <th style="width: 10%;">Unidad de compra</th>
                                            <th style="width: 10%;">Precio</th>
                                            <th style="width: 10%;">Cantidad</th>
                                            <th style="width: 10%;">Subtotal</th>
                                            <th style="width: 5%;">Iva</th>
                                            <th style="width: 10%;">Descuento</th>
                                            <th style="width: 10%;">Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endblock tablaProducto %}
                            
                        {% block generarDocumento %}
                            <div class="row">
                                <div class="col-lg-4">
                                    <button 
                                        class="btn btn-outline-primary btn-block btnGenerarDocumento" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#cllResumenDocumento" 
                                        aria-expanded="false" 
                                        aria-controls="cllResumenDocumento">
                                        <i class="fas fa-plus"></i> 
                                        {% block titulo-generar-documento %}
                                        {% endblock titulo-generar-documento %}
                                    </button>
                                </div>
                            </div>
                        {% endblock generarDocumento %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock agregar_productos %}
    
    {% block resumenDocumento %}
        
    {% endblock resumenDocumento %}
    </form>
    {% endblock content-window %}

    {% block extrajs %}  
        <script src="{% static 'js/modulo_comercial/plantilla_documento.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <div 
            class="modal fade" 
            id="modalCustomer" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form 
                id="formCustomer" 
                enctype="multipart/form-data" 
                method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <b><i class="fas fa-user-plus"></i> Crear cliente</b>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for field in frmCust.visible_fields %}
                                <div class="form-group">
                                    <label for="email">{{ field.label }}:</label>
                                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                <i class="fas fa-save"></i> Guardar cliente
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}