{% extends 'bia/modulo_comercial.html' %}
{% load static %}
{% block title-header %}
{% endblock title-header %}
{% block menu-header %}
    {% block menu %}
    {% endblock menu %}
    <li class="breadcrumb-item">
        <a href="#">
            <i class="fas fa-question"></i>
        </a>
    </li>
{% endblock menu-header %}
{% block content-window %}
<form name="f1" id="f1">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h2 class="card-title">
                <i class="fas fa-plus"></i>
                Ruta de Visitas
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Número de visitas:</label>
                        <input type="text" class="form-control" name="f1t1" id="f1t1">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Tiempo estimado:</label>
                        <input type="text" class="form-control" name="f1t2" id="f1t2">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Distancia estimada:</label>
                        <input type="text" class="form-control" name="f1t3" id="f1t3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="hidden" name="action" value="">
                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#startRoute" aria-expanded="false" aria-controls="startRoute">Iniciar ruta</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="startRoute">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Datos de visita
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Cliente:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Tipo de visita:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Fecha de visita:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>    
                                </div>    
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Hora inicio:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>    
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Hora fin:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>    
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#goCustomer" aria-expanded="false" aria-controls="goCustomer">Ir a cliente</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#viewOrder" aria-expanded="false" aria-controls="viewOrder">Resúmen visita</button>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="viewOrder">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Resúmen de visita comercial
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Observaciones:</label>
                                        <input type="text" class="form-control" name="">
                                    </div>
                                </div>
                                <hr>    
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#finishDelivery" aria-expanded="false" aria-controls="finishDelivery">Completar visita</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="">
                                            <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#enterNews" aria-expanded="false" aria-controls="enterNews">Ingresar novedad</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse" id="enterNews">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt"></i>
                                    Ingreso de novedad
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Tipo de novedad:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Observación:</label>
                                            <input type="text" class="form-control" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <script>
        document.f1.f1t1.value = 15
        document.f1.f1t2.value = '7:20 horas'
        document.f1.f1t3.value = '5 Km'
    </script>
{% endblock content-window %}