{% extends 'bia/base_home_sidebar.html' %}
{% load static %}
{% block title %} BIA | Comercial{% endblock title %}
{% block brand-logo %}
<!-- Brand Logo -->
<a href="{% url 'modulo_comercial' %}" class="brand-link">
    <img src="{% static 'img/home/modulo_comercial.png' %}" alt="Comercial" class="brand-image img-circle elevation-3"
    style="opacity: .8">
    <span class="brand-text font-weight-light">Comercial</span>
</a>
<!-- /.Brand Logo -->
{% endblock brand-logo %}
{% block sidebar-menu %}
<!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'comercial:ver_promociones' %}" class="nav-link 
                {% if request.resolver_match.view_name == 'comercial:ver_promociones' %}active{% endif %}">
                <i class="nav-icon fas fa-cart-arrow-down"></i>
                <p>Promociones</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:menu_pedidos' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:menu_pedidos' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:crear_pedido' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:ver_pedidos' %}active{% endif %}">
                <i class="nav-icon far fa-plus-square"></i>
                <p>Pedidos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:menu_cotizaciones' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:menu_cotizaciones' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:crear_cotizacion' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:ver_cotizaciones' %}active{% endif %}">
                <i class="nav-icon far fa-plus-square"></i>
                <p>Cotizaciones</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:ver_productos' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:ver_productos' %}active{% endif %}">
                <i class="nav-icon fas fa-book"></i>
                <p>Catálogo de productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:menu_llamadas' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:menu_llamadas' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:crear_llamada' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:ver_agenda_llamadas' %}active{% endif %}">
                <i class="nav-icon fas fa-book"></i>
                <p>Agenda de llamadas</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:catalogo_clientes' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:catalogo_clientes' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:opciones_cliente' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:importar_catalogo_clientes' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:crear_cliente' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:listar_clientes' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:actualizar_cliente' %}active{% endif %}
                {% if request.resolver_match.view_name == 'comercial:exportar_catalogo_clientes' %}active{% endif %}">
                <i class="nav-icon far fa-plus-square"></i>
                <p>Catálogo de clientes</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:cartera_clientes' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:cartera_clientes' %}active{% endif %}">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>Cartera clientes</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:tuberia_clientes' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:tuberia_clientes' %}active{% endif %}">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>Tuberia clientes</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'comercial:pqr_clientes' %}" class="nav-link
                {% if request.resolver_match.view_name == 'comercial:pqr_clientes' %}active{% endif %}">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>PQR Clientes</p>
            </a>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
{% endblock sidebar-menu %}
    {% block content-header %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">
                {% block title-header %}
                Bienvenido al Módulo Comercial de BIA
                {% endblock title-header %}
                {% block button_list%}
                {% endblock button_list%}
            </h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            {% block menu-header %}
            {% endblock menu-header %}
            </ol>
        </div>
        </div>
    </div>
    </div>
    <!-- /.content-header -->
    {% endblock content-header %}
    {% block content-body %}
    <!-- Main content -->
    {% block calendar %}
    {% endblock calendar %}
    <section class="content">
        <div class="container-fluid">
            {% block content-window %}
            {% endblock content-window %}
        </div>
    </section>
    {% endblock content-body %}
</div>
<!-- /.content-wrapper -->
