{% extends 'bia/base_home_sidebar.html' %}
{% load static %}
{% block title %}BIA | Compras{% endblock title %}
{% block brand-logo %}
<!-- Brand Logo -->
<a href="{% url 'modulo_compras' %}" class="brand-link">
    <img src="{% static 'img/home/modulo_compras.png' %}" alt="Compras" class="brand-image img-circle elevation-3"
    style="opacity: .8">
    <span class="brand-text font-weight-light">Compras</span>
</a>
{% endblock brand-logo %}
{% block sidebar-menu %}
<!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'compras:menu_negociacion' %}" class="nav-link 
                {% if request.resolver_match.view_name == 'compras:menu_negociacion' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_negociacion' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:ver_negociacion' %}active{% endif %}">
                <i class="nav-icon fas fa-business-time"></i>
                <p>Negociación</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:menu_promociones' %}" class="nav-link 
                {% if request.resolver_match.view_name == 'compras:menu_promociones' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_promocion' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:ver_promociones' %}active{% endif %}">
                <i class="nav-icon fas fa-gifts"></i>
                <p>Promociones</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:menu_orden_compra' %}" class="nav-link
                {% if request.resolver_match.view_name == 'compras:menu_orden_compra' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_orden_compra' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:ver_orden_compra' %}active{% endif %}">
                <i class="nav-icon fas fa-cart-plus"></i>
                <p>Orden de compra</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:menu_cotizacion_proveedor' %}" class="nav-link
                {% if request.resolver_match.view_name == 'compras:menu_cotizacion_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_cotizacion_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:ver_cotizacion_proveedor' %}active{% endif %}">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>Cotizaciones</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:catalogo_productos' %}" class="nav-link
                {% if request.resolver_match.view_name == 'compras:catalogo_productos' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:opciones_producto' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_producto' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:actualizar_producto' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:listar_productos' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:import_products' %}active{% endif %}">
                <i class="nav-icon fas fa-gift"></i>
                <p>Catálogo de productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:menu_gestion_ordenes_compra' %}" class="nav-link
                {% if request.resolver_match.view_name == 'compras:menu_gestion_ordenes_compra' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:proximas_entregas' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:entregas_incumplidas' %}active{% endif %}">
                <i class="nav-icon fad fa-chart-line"></i>
                <p>Gestionar ordenes de compra</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:catalogo_proveedores' %}" class="nav-link 
                {% if request.resolver_match.view_name == 'compras:catalogo_proveedores' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:opciones_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:actualizar_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:listar_proveedores' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:importar_proveedores' %}active{% endif %}">
                <i class="nav-icon fas fa-id-badge"></i>
                <p>Catálogo proveedores</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:evaluacion_proveedor' %}" class="nav-link 
                {% if request.resolver_match.view_name == 'compras:evaluacion_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:crear_evaluacion_proveedor' %}active{% endif %}
                {% if request.resolver_match.view_name == 'compras:ver_evaluacion_proveedor' %}active{% endif %}">
                <i class="nav-icon fas fa-clipboard-check"></i>
                <p>Evaluación de proveedor</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'compras:cartera_proveedores' %}" class="nav-link 
                {% if request.resolver_match.view_name == 'compras:cartera_proveedores' %}active{% endif %}">
                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                <p>Cartera proveedores</p>
            </a>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
{% endblock sidebar-menu %}

    {% block content-header %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">
                {% block title-header %}
                Bienvenido al Módulo Compras de BIA
                {% endblock title-header %}
            </h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            {% block menu-header %}
            {% endblock menu-header %}
            </ol>
        </div>
        </div>
    </div>
    </div>
    <!-- /.content-header -->
    {% endblock content-header %}
    {% block content-body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            {% block content-window %}
            {% endblock content-window %}
        </div>
    </section>
    {% endblock content-body %}
</div>
<!-- /.content-wrapper -->