{% extends 'bia/base_home_sidebar.html' %}
{% load static %}
{% block title %}BIA | Logística{% endblock title %}
{% block brand-logo %}
<!-- Brand Logo -->
<a href="{% url 'modulo_logistica' %}" class="brand-link">
    <img src="{% static 'img/home/modulo_logistica.png' %}" alt="Logistica" class="brand-image img-circle elevation-3"
    style="opacity: .8">
    <span class="brand-text font-weight-light">Almacén</span>
</a>
{% endblock brand-logo %}
{% block sidebar-menu %}
<!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'logistica:salidas_almacen' %}" class="nav-link
                {% if request.resolver_match.view_name == 'logistica:salidas_almacen' %}active{% endif %}">
                <i class="nav-icon fas fa-pallet"></i>
                <p>Entradas de almacén</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logistica:salidas_almacen' %}" class="nav-link
                {% if request.resolver_match.view_name == 'logistica:salidas_almacen' %}active{% endif %}">
                <i class="nav-icon fas fa-archive"></i>
                <p>Salidas de almacén</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logistica:inventario' %}" class="nav-link
                {% if request.resolver_match.view_name == 'logistica:inventario' %}active{% endif %}">
                <i class="nav-icon fas fa-boxes"></i>
                <p>Inventario</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logistica:catalogo_productos' %}" class="nav-link
                {% if request.resolver_match.view_name == 'logistica:catalogo_productos' %}active{% endif %}">
                <i class="nav-icon fas fa-gift"></i>
                <p>Catálogo de productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logistica:catalogo_bodegas' %}" class="nav-link
                {% if request.resolver_match.view_name == 'logistica:catalogo_bodegas' %}active{% endif %}
                {% if request.resolver_match.view_name == 'logistica:crear_bodega' %}active{% endif %}
                {% if request.resolver_match.view_name == 'logistica:cargar_bodegas' %}active{% endif %}
                {% if request.resolver_match.view_name == 'logistica:listar_bodegas' %}active{% endif %}">
                <i class="nav-icon fas fa-warehouse"></i>
                <p>Catálogo de bodegas</p>
            </a>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
{% endblock sidebar-menu %}

    {% block content-header %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">
                {% block title-header %}
                Bienvenido al Módulo Logística de BIA
                {% endblock title-header %}
            </h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            {% block menu-header %}
            <li class="breadcrumb-item"><a href="#">Instructivo módulo logística V 1.0</a></li>
            {% endblock menu-header %}
            </ol>
        </div>
        </div>
    </div>
    </div>
    <!-- /.content-header -->
    {% endblock content-header %}
    {% block content-body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            {% block content-window %}
            {% endblock content-window %}
        </div>
    </section>
    {% endblock content-body %}
</div>
<!-- /.content-wrapper -->